@import url('../../../styles/keyframes.css');

/* https://gravitydept.com/blog/keyframe-animations-in-css-modules */
@keyframes strokeDashOffsetCircularHeadphone {
  from {
    stroke-dashoffset: 740;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.headphoneContainer {
  width: 140px;
  height: 140px;

  &.headphoneContainerBlocked {
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      border-left: 5px solid #a01a58ff;
      width: 100%;
      height: 100%;
      transform: rotate(50deg) translate(50%);
      /* Seta */
      /* content: '\2191';
      position: absolute;
      top: 50%;
      right: -8px;
      background-color: #ea1f41;
      width: 35px;
      height: 35px;
      border: 2px solid #ffffff;
      border-radius: 5px;
      color: #ffffff;
      z-index: 10000;
      -webkit-transform: rotate(50deg) translateY(-50%);
      -moz-transform: rotate(50deg) translateY(-50%);
      -ms-transform: rotate(50deg) translateY(-50%);
      -o-transform: rotate(50deg) translateY(-50%);
      transform: rotate(50deg) translateY(-50%); */
    }
  }
}

.iconHeadphone {
  path {
    fill: #fff;
  }

  circle:nth-of-type(1) {
    /* stroke: #8f8f8f !important; */
    stroke: transparent !important;
  }

  circle:nth-of-type(2) {
    stroke: #fff !important;
    stroke-dashoffset: 740;
    stroke-dasharray: 740;
    animation: strokeDashOffsetCircularHeadphone 2s linear alternate infinite;
  }

  &.iconHeadphoneBlocked {
    circle:nth-of-type(2),
    .headphone__headphone {
      animation: none !important;
    }
  }
}
