@import url('../../../styles/keyframes.css');

.icon {
  &.headphone {
    path {
      fill: #fff;
    }

    circle:nth-of-type(1) {
      stroke: #8f8f8f !important;
    }

    circle:nth-of-type(2) {
      stroke: #fff !important;
    }
  }
}
