@import url('../../../styles/keyframes.css');

.icon {
  &.dandelion {
    path,
    circle {
      fill: #fff;
    }

    circle:nth-of-type(1) {
      /* stroke: #8f8f8f !important; */
      /* stroke: transparent !important; */
    }

    circle:nth-of-type(2) {
      /* stroke: #fff !important; */
    }
  }
}
