@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@/styles/keyframes.css');

/* @import url('normalize.css'); */
/* @import url('../public/fonts/milliard/style.css'); */

@layer base {
  @font-face {
    font-family: Milliard Medium;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/milliard/using/Rene_Bieder_Milliard_Medium.woff) format('woff');
  }
  @font-face {
    font-family: Milliard ExtraLight;
    font-weight: 100;
    src: url(/fonts/milliard/using/Rene_Bieder_Milliard_ExtraLight.woff) format('woff');
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Milliard ExtraLight', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

html,
body,
#__next,
.main {
  overflow: hidden;
}

body {
  /* https://css-tricks.com/snippets/css/fluid-typography/ */
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  background-color: #040404;

  line-height: 1.2;
  /* padding: 0 2em; */
  text-align: center;
}

body * {
  margin: 0;
  padding: 0;
}

#__next,
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: initial;
}

svg {
  width: 100%;
  height: 100%;
}

/* Toggle menu */
.cs-toggle-menu {
  &:before {
    animation: rotate45Out 1s ease forwards;
  }

  &:after {
    animation: rotate135Out 1s ease forwards;
  }
}

.cs-toggle-menu--open {
  .cs-toggle-menu {
    border-color: transparent;

    &:before {
      animation: rotate45In 1s ease forwards;
    }

    &:after {
      animation: rotate135In 1s ease forwards;
      /* transform: rotate(135deg); */
      top: 50%;
    }
  }
}

.cs-player {
  &__actions {
    width: 270px;

    &__next,
    &__prev {
      circle:last-of-type {
        stroke: transparent !important;
      }
    }

    &__mute {
      circle:first-of-type {
        stroke: transparent !important;
      }
    }
  }
}

.cs-wrapper__menu {
  box-shadow: inset 0 0 2000px rgba(155, 155, 155, 0.1);
}

/* FROM https://codepen.io/Vestride/pen/dABHx */
.cs-checkbox {
  /* // take it out of document flow */
  position: absolute;
  /* // hide it */
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  /* // Box. */
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  /* // Box hover */
  &:hover + label:before {
    background: rgba(31, 41, 55, 0.7);
  }

  /* // Box focus */
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  /* // Box checked */
  &:checked + label:before {
    background: rgba(31, 41, 55, 0.7);
  }

  /* // Disabled state label. */
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  /* // Disabled box. */
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  /* // Checkmark. Could be replaced with an image */
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
