@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInMiddle {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggleWiggle {
  20%,
  100% {
    transform: translate(0, 2px);
  }

  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, 2px);
  }
}

@keyframes fadeOutHover {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes strokeDashOffsetCircular {
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

@keyframes loadingBackground {
  /* 0% {
    background-position: 0, 82% 0%;
  }
  50% {
    background-position: 0, 19% 100%;
  }
  100% {
    background-position: 0, 82% 0%;
  } */

  0% {
    background-position: 0, 0 50%;
  }
  50% {
    background-position: 0, 100% 50%;
  }
  100% {
    background-position: 0, 0 50%;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rotate45In {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotate135In {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes rotate45Out {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate135Out {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes scaleDandelionOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2.5);
    opacity: 0.5 !important;
  }
  100% {
    transform: scale(1);
    opacity: 1 !important;
  }
}



.animate {
  &.fade-in-infinite {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.fade-in {
    animation: fadeIn 5s 1 linear;
  }

  &.slide-out-right {
    /* animation: slideOutRight 2s ease-in-out forwards; */
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: slideOutRight;
    animation-play-state: running;
    animation-timing-function: linear;
    /* right: -100%;
    transition: right ease-in 1s; */
  }

  &.slide-in-right {
    /* animation: slideInRight 2s ease-in-out forwards; */
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: slideInRight;
    animation-play-state: running;
    animation-timing-function: linear;
    /* right: 0;
    transition: right ease-in 1s; */
  }

  &.rotate-stroke {
    transition: strokeDashOffsetCircular 2s infinite linear;
  }

  &.scale {
    path {
    }
  }

  &.scale-dandelion-out {
    animation: scaleDandelionOut 3s ease-in-out 1, fadeInMiddle 3s ease-in 3s infinite alternate;
    /* animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal; */
  }

  &.loading-background {
    /* https://www.gradient-animator.com/ */
    /* background: linear-gradient(207deg, #757bc8, #8e94f2, #9fa0ff, #cbb2fe, #dab6fc, #e0c3fc); */

    /* https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
    /* background: linear-gradient(207deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff); */

    /* https://coolors.co/b7094c-a01a58-892b64-723c70-5c4d7d-455e89-2e6f95-1780a1-0091ad */
    /* background: linear-gradient(45deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff); */
    background-size: auto, 400% 400%;
    background-color: #004f8c;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-image: url('/carbon-fibre-v2.png'),
      linear-gradient(
        -45deg,
        #b7094cff,
        #a01a58ff,
        /* #892b64ff, */ #723c70ff,
        #5c4d7dff,
        #455e89ff,
        #2e6f95ff /* #1780a1ff, */ /* #0091adff */
      );

    animation: loadingBackground 13s linear infinite;
  }

  &.loaded-background:not(.playing) {
    animation-iteration-count: 1 !important;
    animation-fill-mode: forwards !important;
  }

  /* &.background-album.background-epifania {
    background-size: auto, cover, 400% 400%;
    background-color: #004f8c;
    background-image: url('/carbon-fibre-v2.png'), url('/albums/epifania.jpg'),
      linear-gradient(
        -45deg,
        #b7094cff,
        #a01a58ff,
        #892b64ff,
        #723c70ff,
        #5c4d7dff,
        #455e89ff,
        #2e6f95ff
      );

  }

  &.background-album.background-restos-do-que-nao-aconteceu {
    background-size: auto, cover, 400% 400%;
    background-color: #004f8c;
    background-image: url('/carbon-fibre-v2.png'), url('/albums/epifania.jpeg'),
      linear-gradient(
        45deg,
        #b7094cff,
        #a01a58ff,
        #892b64ff,
        #723c70ff,
        #5c4d7dff,
        #455e89ff,
        #2e6f95ff
      );
  } */
}

.scale path {
  fill: #8a58d6 !important;
}
.scale line:nth-of-type(1n) {
  transform-origin: center center;
  stroke: #b962d6 !important;
  transform: scale(0.3);
  stroke-width: 2px;
  animation: scale 3s alternate infinite;
}

.scale line:nth-of-type(2n) {
  transform-origin: center center;
  stroke: #dc5cba !important;
  transform: scale(0.7);
  stroke-width: 2px;
  animation: scale 3s alternate infinite;
}

.scale line:nth-of-type(3n) {
  transform-origin: center center;
  stroke: #dc4972 !important;
  transform: scale(0.9);
  stroke-width: 2px;
  animation: scale 3s alternate infinite;
}

.scale circle:nth-of-type(1n) {
  transform-origin: center center;

  transform: scale(0.7);
  fill: #b962d6 !important;
  animation: scale 1s alternate infinite;
}

.scale circle:nth-of-type(2n) {
  transform-origin: center center;

  transform: scale(0.3);
  fill: #dc5cba !important;
  animation: scale 2s alternate infinite;
}

.scale circle:nth-of-type(3n) {
  transform-origin: center center;

  transform: scale(0.8);
  fill: #dc4972 !important;
  animation: scale 3s alternate infinite;
}

/* Transition between components */
.loading-transition,
.tab-transition,
.image-transition {
  &-enter {
    opacity: 0;
  }
  &-exit {
    opacity: 1;
  }
  &-enter-active {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
  }
}

.loading-transition {
  &-enter-active,
  &-exit-active {
    /* transition: opacity 500ms; */
    transition: opacity 2s;
  }
}

.tab-transition {
  &-enter-active,
  &-exit-active {
    transition: opacity 200ms;
  }
}

.image-transition {
  &-enter-active,
  &-exit-active {
    transition: opacity 700ms;
  }
}
