@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggleWiggle {
  20%,
  100% {
    transform: translate(0, 2px);
  }

  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, 2px);
  }
}

@keyframes fadeOutHover {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes strokeDashOffsetCircular {
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

@keyframes loadingBackground {
  0% {
    background-position: 82% 0%;
  }
  50% {
    background-position: 19% 100%;
  }
  100% {
    background-position: 82% 0%;
  }
}

.animate {
  &.fade-in-infinite {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.rotate-stroke {
    transition: strokeDashOffsetCircular 2s infinite linear;
  }

  &.scale {
    path {
    }
  }

  &.loading-background {
    /* https://www.gradient-animator.com/ */
    /* background: linear-gradient(207deg, #757bc8, #8e94f2, #9fa0ff, #cbb2fe, #dab6fc, #e0c3fc); */

    /* https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
    /* background: linear-gradient(207deg, #001219ff, #005f73ff, #0a9396ff, #94d2bdff, #e9d8a6ff, #ee9b00ff, #ca6702ff, #bb3e03ff, #ae2012ff, #9b2226ff); */

    /* https://coolors.co/b7094c-a01a58-892b64-723c70-5c4d7d-455e89-2e6f95-1780a1-0091ad */
    background: linear-gradient(45deg, #b7094cff, #a01a58ff, #892b64ff, #723c70ff, #5c4d7dff, #455e89ff, #2e6f95ff, #1780a1ff, #0091adff);
    background-size: 400% 400%;

    animation: loadingBackground 15s linear infinite;
  }
}

.scale path {
  fill: #8a58d6 !important;
}
.scale line:nth-of-type(1n) {
  transform-origin: center center;
  stroke: #b962d6 !important;
  transform: scale(0.3);
  stroke-width: 2px;
  animation: scale 3s alternate infinite;
}

.scale line:nth-of-type(2n) {
  transform-origin: center center;
  stroke: #dc5cba !important;
  transform: scale(0.7);
  stroke-width: 2px;
  animation: scale 3s alternate infinite;
}

.scale line:nth-of-type(3n) {
  transform-origin: center center;
  stroke: #dc4972 !important;
  transform: scale(0.9);
  stroke-width: 2px;
  animation: scale 3s alternate infinite;
}

.scale circle:nth-of-type(1n) {
  transform-origin: center center;

  transform: scale(0.7);
  fill: #b962d6 !important;
  animation: scale 1s alternate infinite;
}

.scale circle:nth-of-type(2n) {
  transform-origin: center center;

  transform: scale(0.3);
  fill: #dc5cba !important;
  animation: scale 2s alternate infinite;
}

.scale circle:nth-of-type(3n) {
  transform-origin: center center;

  transform: scale(0.8);
  fill: #dc4972 !important;
  animation: scale 3s alternate infinite;
}
